**/*

!.vscodeignore
!README.md
!CHANGELOG.md
!LICENSE
!media/**
!walkthroughs/**
!schemas/runSettings.schema.json
!dist/judge/index.js
!dist/judge/index.css
!dist/stress/index.js
!dist/stress/index.css
!dist/extension.js
!dist/codicons/codicon.css
!dist/codicons/codicon.ttf
!dist/win32-process-monitor.node
!dist/linux-process-monitor.node
!dist/darwin-process-monitor.node
!dist/rlimit-wrapper
