/* Standard VSCode styling */

.text-button {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 4px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--vscode-button-border, transparent);
  background: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  line-height: 18px;
}

.text-button:hover {
  background: var(--vscode-button-hoverBackground);
}

.text-button .codicon {
  margin-right: 4px;
}

/* Main View */

#empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 100vh;
}

/* Settings View */

.settings-section {
  margin-bottom: 16px;
}

.settings-label {
  color: var(--vscode-foreground);
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 2px;
}

.settings-additional-info {
  color: var(--vscode-descriptionForeground);
  font-size: 12px;
  margin-top: 2px;
}

.settings-input {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid var(--vscode-input-border);
  border-radius: 2px;
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
}

.settings-input:focus {
  border: 1px solid var(--vscode-inputOption-activeBorder);
}

/* Testcase View */

.testcase-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.testcase-toolbar--hidden > * > *:not(.testcase-toolbar-icon--visibility) {
  opacity: 0.5;
}

.testcase-toolbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.testcase-toolbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  gap: 6px;
}

.testcase-toolbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  border-radius: 2px;
  padding: 3px;
}

.testcase-toolbar-icon:not(.testcase-toolbar-icon-exclude-highlight):hover {
  background: var(--vscode-button-secondaryBackground);
}

.testcase-container {
  margin-bottom: 24px;
}

.testcase-elapsed {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 1px 6px;
  border-radius: 11px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
