/* Main View */

#empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-height: 100vh;
}

/* State View */

.state-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.state-toolbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.state-toolbar-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: flex-end;
  gap: 6px;
}

.state-toolbar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  border-radius: 2px;
  padding: 3px;
}

.state-toolbar-icon:not(.state-toolbar-icon-exclude-highlight):hover {
  background: var(--vscode-button-secondaryBackground);
}

.state-container {
  margin-bottom: 24px;
}

.state-toolbar-text-bubble {
  display: flex;
  align-items: center;
  height: 22px;
  padding: 1px 6px;
  border-radius: 11px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
