on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Type check project
        run: |
          bun run type-build
          bun run type-check

      - name: Lint and check formatting
        run: |
          bun run lint
          bun run check

      - name: Build project
        run: bun run build
